body {
  background-color: rgb(133, 113, 84);
}
p {
  color: antiquewhite;
  text-align: center;
  line-height: 2;
}
a {
  display: block;
  width: 100px;
  border-radius: 4px;
  padding: 4px;
  margin: 10px auto;
  text-align: center;
  background-color: burlywood;
  color: whitesmoke;
  text-decoration: none;
}
h1 {
  text-align: center;
  color: antiquewhite;
}
img {
  display: block;
  margin: 20px auto;
  width: 500px;
  height: 500px;
}
